/**
* Created by Doc2Js
* File name "<%= program%>.module.js"
*/
<%# Input param: List<event> {program:'화면ID', events:[{id:'event_id',label:'event_label', handler:'event_handler'}, ...]}%>

(function(){
"use strict";

    angular.module('<%= program%>', [])
    .config(<%= program%>);

    <%= program%>.$inject = ['$stateProvider', '$urlRouterProvider', 'AppPath'];


    /**
    * <%= program%> 모듈
    * @memberof app
    * @ngdoc config
    * @name <%= program%>
    * @param $stateProvider {service} $stateProvider
    * @param $urlRouterProvider {service} $urlRouterProvider
    */
    function <%= program%> ($stateProvider, $urlRouterProvider, AppPath) {

        $stateProvider
        .state('tros.shell.ir', {
            url:'/settings/infra',
            ncyBreadcrumb: {
                label: 'Infra Registration'
            },
            templateUrl: AppPath.layout.ir
        })
        .state('tros.shell.ir.dc', {
            url:'/dc',
            ncyBreadcrumb: {
                label: 'Datacenter'
            },
            views: {
                'tab' : {
                    controller: 'DcTabList',
                    controllerAs: 'vm',
                    templateUrl:  AppPath.components.tablist
                },
                '' : {
                     template: '<div ui-view  class="layout_flexbox"></div>'
                }
            }
        })
        .state('tros.shell.ir.dc.STT1001MU01', {
            url:'/list',
            ncyBreadcrumb: {
                  skip: true
            },
            controller: 'STT1001MU01',
            controllerAs: 'vm',
            templateUrl: AppPath.stt + '/STT1001MU01.template.html'
        });

        $urlRouterProvider.when('/settings/infra', '/settings/infra/dc/list');
        $urlRouterProvider.when('/settings/infra/dc', '/settings/infra/dc/list');

    }

})();